@font-face {
    font-family: 'LilitaOne';
    src: url(Fonts/LilitaOne-Regular.ttf);
}

@font-face {
    font-family: 'Rubik';
    src: url(Fonts/Rubik-Medium.ttf);
}


:root {
    --width-sidebar: 40vw;
    --user-profile-pic-width: 10vw;
    --button-user-options-width: 30vw;
    --username-width: 43vw;
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #dad8d8;
}

nav {
    display: grid;
    height: 100vh;
    width: var(--width-sidebar);
    gap: 20px;
    background-color: #252977;
    color: #fff;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    position: relative;
}

.sidebar-title {
    font-family: 'LilitaOne';
    font-weight: 100;
    align-self: center;
    font-weight: 100;
}

.options-header {
    position: relative;
}

li .link-option {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    justify-self: center;
}


svg {
    position: relative;
    top: 10px;
    right: 5px;
    height: 30px;
    width: 30px;
}

#svg-sidebar {
    position: static;
}



li {
    list-style-type: none;
    margin: 10px 0px 10px 0px;
}

.title {
    margin-left: 2rem;
}

.inline-sidebar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-layout svg {
    position: relative;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 25px;
}


.section-content-header {
    display: inline;
}

/* Content, top side */

.top-layout {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px;
    gap: 5px;
    background-color: #fff;

}

.top-side {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    align-items: center;
}

.down-side {
    display: flex;
}


.svg-search {
    grid-column: 1 / 2;
}

.search-bar {
    grid-column: 2 / 10;
    border: 1px solid #c2c2c2;
    border-radius: 14px;
    height: 25px;
    transition: height 0.2s
}

.search-bar:focus {
    height: 35px;
    outline-width: 0;
}

.svg-bell {
    grid-column: 12 / 13;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    grid-column: 13 / 14;
}

.user {
    grid-column: 14 / 16;
    
}

.button-non-visible {
    height: 30px;
    width: 30px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    padding: 0px;
    justify-self: center;
    transition: background-color 0.4s;
}

.button-non-visible:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

#container-profile-pic {
    width: var(--user-profile-pic-width);
    text-align: center;
}

#container-user {
    width: var(--username-width);
}

#container-user-options {
    width: var(--button-user-options-width);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.profile-pic {
    margin-top: 5px;
    width: 70px;
    border-radius: 100%;
}

.user-text-top {
    margin: 0;
    margin-top: 1rem;
    font-size: 14px; 
}

.user-text-down {
    margin: 0;
    font-size: 25px;
    font-style: italic;
}

.button-user-options {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 12px;
    border: 0;
    border-radius: 18px;
    height: 30px;
    width: 90px;
    background-color: #252977;
    color: #fff;
    transition: background-color 0.9s;
}

.button-user-options:hover {
    cursor: pointer;
    background-color: #253999;
}

/* Content, Your projects side */

#main-content-section {
    margin: 0;
    display: flex;
    }

#main-content {

}

#aside-content {

}

#main-content-grid {
    display: grid;
    grid-template-columns: minmax(150px, 390px) minmax(150px, 390px);
    margin-left: 15px;
    margin-right: 15px;
    gap: 20px;
    height: 450px;
}

.grid-item {
    margin: 0;
    border: 0px #181d72 solid ;
    border-left: 6px #181d72 solid;
    border-bottom: 6px #181d72 solid;
    border-radius: 14px;
    padding: 10px;
    transition: border 0.2s;
    background-color: #fff;

}

.grid-item:hover {
    border: 6px #181d72 solid;
}

.grid-item h4 {
    font-weight: 900    ;
}

.grid-item p {
    font-size: 13px;
    font-weight: 100;
    color: #474747;
}

#aside-content-grid {
    display: grid;
    background-color: #25297759;
    border-radius: 14px;
    width: 270px;
}

#aside-content h4{
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 15px;
}

#aside-content-grid h5 {
    border-bottom: 1px #000000a9 solid;
    margin: 0px 15px 0px 15px;
    padding: 1.5rem;
    font-weight: 400;
}

#aside-content-grid h5:last-child {
    border: 0;
}

